[submodule "ffi/libffi"]
	path = ffi/libffi
	url = https://github.com/zelang-dev/libffi.git
[submodule "ffi/wasm/magic_enum"]
	path = ffi/wasm/magic_enum
	url = https://github.com/Neargye/magic_enum.git
